# Environments
.venv*/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.ruff_cache/
.pytest_cache/
.mypy_cache/

# Experiment / training outputs
wandb/
lightning_logs/
outputs/
results/
*.ckpt
*.ckpt.tmp

# OS
.DS_Store
core.*
lightning_logs/
.cache/